*{
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.container{
    display: flex;
    color: white;
    border: 5px solid rgb(102, 101, 101);
    width: 500px;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
}

p{
    font-size: 50px;
    padding: 0;
}